In [ ]:
#String
#1
def string(s):
  count1=0
  count2=0
  for i in s:
    if 65<=ord(i)<=90:
      count1+=1
    elif 97<=ord(i)<=122:
      count2+=1

  if count1>count2:
    print(s.upper())
  else:
    print(s.lower())

string('HOusE')
string('ApplE')
string('BaNaNa')

HOUSE
apple
banana

In [ ]:
#2
def type1(s):
  mix = 0
  num=0
  word=0
  for i in s:

    if 48<=ord(i)<=57:
      num+=1
    elif 65<=ord(i)<=90 or 97<=ord(i)<=122:
      word+=1

  if num>0 and word>0:
    print('Mixed')
  elif num>0:
    print('Numbers')
  else:
    print('Words')


type1('213213')
type1('jhg231j213')
type1('Hello')

Numbers
Mixed
Words

In [ ]:
#3
def find_substring(s):

  for i in s:
    if 65<=ord(i)<=90:
      idx=s.find(i)
      s1=s.replace(i,i.lower())
      break
  for j in s1:
    if 65<=ord(j)<=90:
      idx2=s1.index(j)
      break
  sum=s[idx+1:idx2]

  if sum!="":
    print(s[idx+1:idx2])
  else:
    print('Blank')




find_substring('baNgladEsh')
find_substring('coDIng')

glad
Blank

In [ ]:
#4
def add_common(s1,s2):
  str1=""
  for i in s1:
    if i in s2:
      str1+=i
  for j in s2:
    if j in s1:
      str1+=j

  if str1!="":
    print(str1)
  else:
    print('Nothing in common')





add_common('harry', 'hermione')
add_common('dean', 'tom')

hrrhr
Nothing in common

In [ ]:
#5
def check_password(s):
  s1=""
  special='$#@'
  special_count=0
  upper_count=0
  lower_count=0
  digit_count=0
  for i in s:
    if i in special:
      special_count+=1
    elif 65<=ord(i)<=90:
      upper_count+=1
    elif 97<=ord(i)<=122:
      lower_count+=1
    else:
      digit_count+=1

  if special_count==0:
    s1+='Special charcter missing, '
  if upper_count==0:
    s1+='Uppercase character missing, '
  if lower_count==0:
    s1+='Lowercase Character missing, '
  if digit_count==0:
    s1+='digits missing'
  if s1!='':
   print(s1)


  if special_count>0 and upper_count>0 and lower_count>0 and digit_count>0:
    print('Ok')

check_password('ohMyBR@CU')
check_password('ohmybracu')
check_password('OhMyBR@CU20')

digits missing
Special charcter missing, Uppercase character missing, digits missing
Ok

List

In [ ]:
#1
lst_1=[]
lst_2=[]
#count=0
while True:
  n=input('Enter numbers: ')
  if n=='STOP':
    break
  else:
    lst_1.append(int(n))

  for i in lst_1:
    if i not in lst_2:
      lst_2.append(i)

  for item in lst_2:
    count=0
    for i in lst_1:
      if item==i:
        count+=1
    print(item,'-',count, 'times')

Enter numbers: 10
10 - 1 times
Enter numbers: 20
10 - 1 times
20 - 1 times
Enter numbers: 20
10 - 1 times
20 - 2 times
Enter numbers: 10
10 - 2 times
20 - 2 times
Enter numbers: 50
10 - 2 times
20 - 2 times
50 - 1 times
Enter numbers: 90
10 - 2 times
20 - 2 times
50 - 1 times
90 - 1 times
Enter numbers: STOP

In [ ]:
#2
n=int(input())
s=0
sum=0
lst=[]
for i in range(n):
  l=[int(j) for j in input().split()]
  for k in l:
    sum+=k
  if s<sum:
    s=sum
    lst=l
  sum=0
print(s)
print(lst)

4
1 2 3
4 5 6
7 8 9
10 11 12 13
46
[10, 11, 12, 13]

In [ ]:
#4

Dictionary & Tuple

In [ ]:
#1
def combine_dict(d1,d2):
  lst=[]
  d3={}
  for key in d1:
    if key in d2:
      new=d1[key]+d2[key]
    else:
      new=d1[key]
    d3[key]=new

  for j,l in d2.items():
    if j not in d1:
      d3[j]=l
  print(d3)

  for i in d3.values():
    lst.append(i)
  print(tuple(lst))







result1={'a': 100, 'b': 100, 'c': 200, 'd': 300}
result2={'a': 300, 'b': 200, 'd': 400, 'e': 200}
combine_dict(result1,result2)

{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
(400, 300, 200, 700, 200)

In [ ]:
#2
lst=[]
while True:
  n=input('Enter numbers and break when STOP given: ')
  if n=='STOP':
    break
  else:
    lst.append(int(n))

  d={}
  lst1=[]
  for i in lst:
    if i not in lst1:
      lst1.append(i)

  for j in lst1:
    count=0
    for j1 in lst:
      if j==j1:
        count+=1
    d[j]=count

  for key,value in d.items():
    print(key,'-',value,'times')

Enter numbers and break when STOP given: 10
10 - 1 times
Enter numbers and break when STOP given: 20
10 - 1 times
20 - 1 times
Enter numbers and break when STOP given: 20
10 - 1 times
20 - 2 times
Enter numbers and break when STOP given: 30
10 - 1 times
20 - 2 times
30 - 1 times
Enter numbers and break when STOP given: 10
10 - 2 times
20 - 2 times
30 - 1 times
Enter numbers and break when STOP given: 50
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
Enter numbers and break when STOP given: 90
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times
Enter numbers and break when STOP given: STOP

In [ ]:
#3
d={}
lst=[]
for key,value in d.items():
   if key in d:
     d[value]=key

In [ ]:
#4
d={1:'.,?!',2:'ABC',3:'DEF',4:'GHI',5:'JKL',6:'MNO',7:'PQRS',8:'TUV',9:'WXYZ',0:' '}

.